.advantages {
  background-color: @grey;
  padding-top: 56px;
  padding-bottom: 310px;
  position: relative;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 260px;
  margin: 0 auto;
  text-align: center;
}

.advantages__subtitle {
  color: @title-black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
} 

.advantages__img {
  width: 157px;
  height: 277px;
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  position: absolute;
  bottom: 0;
  right: 81px;
}
