.comment {
  padding-top: 20px;
  background-color: @white;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
}

.comment__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment__item {
  text-align: center;
}

.comment__autor {
  font-size: 18px;
  line-height: 30px;
  color: @black;
  margin-bottom: 5px;
}

.comment__buttons {
  width: 90px;
  margin-left: 93px;
  margin-top: 30px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.comment__toggle {
  margin-left: 17px;
}

.toggle {
  display: block;
  background-color: fade(@darkgrey, 30%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: fade(@darkgrey, 60%);
  }
  &:active {
    background-color: fade(@darkgrey, 10%);
  }
}

.comment__toggle:last-child {
  margin-right: 0;
}

.toggle--active {
  width: 12px;
  height: 12px;
  background-color: @white;
  border: 3px solid @darkgrey;
  &:hover {
    background-color: @white;
  }
  &:active {
    background-color: @white;
  }
}

.comment__autor-info {
  display: none;
}

.comment__qoutes {
  display: none;
}

.comment__arrow-left,
.comment__arrow-right {
  display: none;
}

@media (min-width: @tablet-width) {
  .comment {
    font-size: 18px;
    line-height: 30px;
    padding-top: 42px;
  }

  .comment__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .comment__autor {
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
  }

  .comment__autor-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin-top: -5px;
    order: -1;
  }

  .comment__buttons {
    margin-top: 22px;
    margin-left: 263px;
    margin-bottom: 14px;
  }
}

@media (min-width: @desktop-width) {
  .comment {
    padding-top: 166px;
    position: relative;
  }

  .comment__toggle {
    display: none;
  }

  .comment__arrow-left,
  .comment__arrow-right {
    display: block;
    position: absolute;
    top: 212px;
  }

  .comment__arrow-left {
    left: 130px;
  }

  .comment__arrow-right {
    right: 130px;
  }

  .comment__svg-arrow {
    fill: fade(@darkgrey, 30%);
    &:hover,
    &:focus {
      fill: fade(@darkgrey, 60%);
    }
    &:active {
      fill: fade(@darkgrey, 10%);
    }
  }

  .comment__autor {
    font-size: 24px;
    line-height: 30px;
  }

  .comment__autor-info {
    font-size: 18px;
    line-height: 30px;
  }

  .comment__list {
    margin: 0 auto;
    width: 688px;
  }

  .comment__qoutes {
    position: absolute;
    top: 72px;
    left: 561px;
    display: block;
  }

  .comment__svg {
    fill: @svggrey;
  }
}
