.comment {
  background-color: @white;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
}

.comment__autor {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: @title-black;
}

.comment__toggle {
  background-color: @darkgrey-toggle;
  width: 6px;
  height: 6px;
  margin: 19px;
  border-radius: 50%;
}

.comment__toggle--active {
  border: 3px solid @darkgrey;
}
