.connect {
  padding-top: 21px;
  padding-bottom: 8px;
  background-color: @white;
  text-align: center;
}

.connect__triangle {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bg-triangle-white-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 32px;
  width: 100%;
}

.connect__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  color: @darkgrey;
}

.connect__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
}

.connect__p {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @darkgrey;
  margin-bottom: 0;
}

.connect__map {
  width: 100vw;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 30px;
  height: 200px;
}

.connect__iframe {
  border: none;
  width: 100vw;
  height: 200px;
}

@media (min-width: @tablet-width) {
  .connect {
    padding-top: 12px;
  }

  .connect__triangle {
    height: 75px;
  }

  .connect__list {
    margin: 0 auto;
    margin-top: -18px;
    width: 620px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .connect__item {
    width: 240px;
  }

  .connect__item:first-child {
    margin-right: 17px;
  }

  .connect__p {
    margin-bottom: 3px;
  }

  .connect__title {
    font-size: 40px;
    line-height: 54px;
  }

  .connect__item:last-child {
    width: 211px;
    margin-top: 25px;
  }

  .connect__map,
  .connect__iframe {
    margin: 0;
    height: 387px;
  }
}

@media (min-width: @desktop-width) {
  .connect {
    padding-top: 17px;
  }

  .connect__list {
    width: auto;
    justify-content: start;
  }

  .connect__title {
    font-size: 50px;
    line-height: 68px;
  }

  .connect__item:first-child {
    margin-left: 30px;
    margin-right: 94px;
  }

  .connect__item:last-child {
    margin-top: 0;
    margin-right: 94px;
  }
  
  .connect__item:nth-child(2) {
    order: 2;
  }

  .connect__link {
    margin-top: 19px;
  }
  
  .connect__map,
  .connect__iframe {
    height: 517px;
  }
}
