.connect {
  background-color: @white;
  text-align: center;
}

.connect__triangle {
  position: absolute;
  top: 0;
  left: 0;
}

.connect__svg {
  height: auto;
  width: 100vw;
}

.connect__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 120%;
  color: @darkgrey;
}

.connect__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.connect__p {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @darkgrey;
  margin-bottom: 0;
}

.connect__map {
  width: 100vw;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: -20px;
  margin-top: 30px;
}

.connect__iframe {
  border: none;
  width: 100vw;
  height: 200px;
}

@media (min-width: @tablet-width) {
  .connect__list {
    margin: 0 auto;
    width: 620px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .connect__item {
    width: 240px;
  }

  .connect__p {
    margin-bottom: 7px;
  }

  .connect__title {
    font-size: 40px;
    line-height: 54px;
  }

  .connect__item:last-child {
    width: 211px;
    margin-top: 25px;
  }

  .connect__iframe {
    height: 374px;
  }
}

@media (min-width: @desktop-width) {
  .connect__list {
    width: 863px;
  }

  .connect__item:last-child {
    margin-top: 0;
  }

  .connect__item:nth-child(2) {
    order: 2;
  }

  .connect__iframe {
    height: 502px;
  }
}
