.connect {
  background-color: @white;
}

.connect__title {
  font-size: 24px;
  line-height: 120%;
  color: @darkgrey;
}

.connect__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.connect__p {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @darkgrey;
}

.connect__link {
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: @pink;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: @darkgrey;
  }
  &:active {
    color: @darkgrey-active-2;
  }
}
