.download {
  background-color: @greydownload;
  color: @white;
}

.download__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.download__link {
  text-decoration: none;
  color: @white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.download__description {
  font-size: 14px;
  line-height: 24px;
}
