.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    padding-top: 54px;
    padding-bottom: 40px;
    background-color: @white;
  }

  .effect__center {
    display: flex;
    align-items: center;
  }

  .effect__block {
    padding-top: 18px;
    width: 310px;
    margin-left: 70px;
  }

  .effect__title {
    font-size: 30px;
    line-height: 36px;
    color: @black;
    font-weight: bold;
    margin: 0;
  }

  .effect__description {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: @darkgrey;
    width: 300px;
    margin: 0;
    margin-top: 9px;
  }

  .effect__link {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: @pink;

    &:hover,
    &:focus {
      color: @darkgrey;
    }

    &:active {
      color: fade(@darkgrey, 30%);
    }
  }

  .tablet__br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    padding-top: 48px;
  }

  .tablet__br {
    display: block;
  }

  .effect__inner {
    background-color: @grey;
    width: auto;
  }

  .effect__center {
    margin-bottom: 27px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    margin-top: 31px;
  }

  .effect__block {
    width: 535px;
    margin-left: 72px;
    padding-top: 48px;
  }

  .effect__description {
    width: auto;
    font-size: 18px;
    line-height: 30px;
    margin-top: 22px;
  }
}
