.form-photo {
  background-color: @grey;
  padding-bottom: 30px;
  padding-top: 20px;
}

.form-photo__fieldset {
  border: none;
  margin-left: -10px;
}

.form-photo__button {
  padding: 0;
  background-color: @grey;
  border-radius: 30px;
  width: 277px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
}

.form-photo__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fomr-photo__list-range {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-photo__fieldset--editor {
  display: flex;
  flex-direction: column;
  width: 194px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-photo__range {
  width: 240px;
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}

.btn--pink {
  border: 3px solid @pink;
  color: @pink;
  margin-bottom: 12px;
  &:hover,
  &:focus {
    background-color: @pink;
    color: @white;
  }
  &:active {
    color: fade(@white, 30%);
  }
}

.btn--grey {
  color: fade(@darkgrey, 10%);
  border: 3px solid fade(@darkgrey, 10%);
  &:hover {
    border: 3px solid fade(@darkgrey, 30%);
    color: fade(@darkgrey, 30%);
  }
  &:active {
    border: 3px solid fade(@darkgrey, 10%);
    background-color: fade(@darkgrey, 30%);
    color: fade(@white, 30%);
  }
}

.form-photo__range {
  -webkit-appearance: none;
  height: 2px;
  background-color: @darkgrey;
}

.form-photo__range::-webkit-slider-thumb,
.form-photo__range::-moz-range-thumb  {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: @white;
  border-radius: 50%;
  border: 2px solid @pink;
}

.form-photo__range--active {
  display: block;
}

@media (min-width: @tablet-width) {
  .form-photo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .form-photo__range {
    display: block;
    width: 202px;
  }

  .form-photo__fieldset--editor {
    margin-top: 0;
    height: 228px;
    flex-direction: row;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .form-photo__list {
    flex-direction: column;
    width: 12px;
    margin-right: 15px;
  }

  .form-photo__item {
    height: 50px;
    width: 22px;
  }

  .form-photo__item-range {
    height: 50px;
    border-bottom: 1px solid fade(@darkgrey, 10%);
  }

  .form-photo__crop {
    width: 22px;
    height: 22px;
  }

  .form-photo__fill {
    width: 24px;
    height: 22px;
  }

  .form-photo__contrast {
    width: 16px;
    height: 16px;
  }

  .form-photo__fieldset:last-child {
    width: 260px;
    min-height: 134px;
    margin-left: 20px;
    margin-top: auto;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .form-photo__fieldset:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .form-photo__button {
    width: 260px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form-photo {
    width: 940px;
    margin: 0 auto;
    padding-left: 80px;
  }

  .form-photo__range {
    width: 288px;
    display: block;
  }

  .form-photo__button {
    width: 183px;
  }
}
