.form {
  position: relative;
}

.form__field {
  border: none;
  background-color: @white;
  padding-right: 0;
  padding-left: 0;
  padding-top: 30px;
  padding-bottom: 40px;
}

.form__field--aplication,
.form__field--achievements {
  background-color: @grey;
  width: 320px;
  margin-left: -20px;
}

.form__field--aplication {
  display: flex;
  flex-direction: column;
}

.form__radio {
  margin-right: 20px;
  margin-left: 22px;
}

.form__field--aplication .form__item {
  margin-bottom: 48px;
}

.form__field--aplication .form__item:last-child {
  margin-bottom: 0;
}

.form__field--user-name .form__input,
.form__field--contacts .form__input {
  margin-top: 17px;
}

.form__field--user-name .form__item,
.form__field--contacts .form__item {
  margin-bottom: 29px;
}

.form__field--user-name .form__item:last-child,
.form__field--contacts .form__item:last-child {
  margin-bottom: 0;
}

.form__input-check {
  margin-left: 22px;
}

.form__field--achievements .form__item {
  margin-bottom: 45px;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__legend {
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
}

.form__legend {
  width: auto;
  margin: 0 auto;
}

.form__legend--none {
  display: none;
}

.form__legend--grey {
  background-color: @grey;
  padding-left: 20px;
  padding-right: 20px;
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
}

.form__item {
  position: relative;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__input-check:focus + .form__label-check::after,
.form__input-radio:focus + .form__label-radio::after {
  outline: 3px solid @svgred;
}

.form__input-check:checked + .form__label-check::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 22px;
  width: 39px;
  height: 39px;
  background-image: url("../img/icon-checkbox-on.svg");
}

.form__input-check + .form__label-check::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 22px;
  width: 39px;
  height: 39px;
  background-image: url("../img/icon-checkbox-off.svg");
}

.form__input-radio:checked + .form__label-radio::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 22px;
  width: 41px;
  height: 41px;
  background-image: url("../img/icon-radio-on.svg");
}

.form__input-radio:not(:checked) + .form__label-radio::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 22px;
  width: 41px;
  height: 41px;
  background-image: url("../img/icon-radio-off.svg");
}

.form__label-check:hover::after {
  background-image: url("../img/icon-checkbox-off-hover.svg");
}

.form__input-check:checked:hover + .form__label-check::after {
  background-image: url("../img/icon-checkbox-on-hover.svg");
}

.form__label-check:active::after {
  background-image: url("../img/icon-checkbox-off-active.svg");
}

.form__input-check:checked:active + .form__label-check::after {
  background-image: url("../img/icon-checkbox-on-active.svg");
}

.form__input-radio:checked:hover + .form__label-radio::after {
  background-image: url("../img/icon-radio-on-hover.svg");
}

.form__input-radio:not(:checked):hover + .form__label-radio::after {
  background-image: url("../img/icon-radio-off-hover.svg");
}

.form__input-radio:checked:active + .form__label-radio::after {
  background-image: url("../img/icon-radio-on-active.svg");
}

.form__input-radio:not(:checked):active + .form__label-radio::after {
  background-image: url("../img/icon-radio-off-active.svg");
}

.form__label-radio {
  margin-left: 90px;
}

.form__label-check {
  margin-left: 79px;
  font-size: 18px;
  line-height: 30px;
  color: @darkgrey;
}

.form__input {
  border: 2px solid @lightgrey;
  border-radius: 1px;
  width: 276px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 20px;
  outline: none;
  &:hover {
    border: 2px solid @darkgrey;
    border-radius: 1px;
  }
  &:focus {
    border: 2px solid @pink;
    border-radius: 1px;
  }
}

.form__input[placeholder] {
  font-size: 18px;
  line-height: 30px;
  color: @darkgrey;
}

.form__comment {
  width: 276px;
  min-height: 197px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 25px;
  border: 2px solid @lightgrey;
  border-radius: 1px;
  font-family: inherit;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: @darkgrey;
}

.form__p-info {
  margin-top: 46px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: @darkgrey;
}

.form__star {
  color: @pink;
}

.form__button {
  width: 276px;
}

@media (min-width: @tablet-width) {
  .form {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
  }

  .form__legend {
    background: none;
    padding: 0;
    padding-right: 31px;
    padding-left: 31px;
  }

  .form__legend--none {
    display: block;
  }

  .form__field {
    background-color: @white;
    border: 2px solid @grey;
    border-radius: 1px;
    margin-bottom: 65px;
  }

  .form__field--user-name {
    border: none;
  }

  .form__field--user-name .form__input {
    margin-left: 20px;
    flex-grow: 1;
  }

  .form__field--user-name .form__label {
    display: flex;
    align-items: baseline;
  }

  .form__field--achievements,
  .form__field--aplication {
    width: auto;
    margin-left: 0;
  }

  .form__input-check:checked + .form__label-check::after,
  .form__input-check:not(:checked) + .form__label-check::after,
  .form__input-radio:checked + .form__label-radio::after,
  .form__input-radio:not(:checked) + .form__label-radio::after {
    left: 60px;
  }

  .form__label-radio {
    margin-left: 119px;
  }

  .form__label-check {
    margin-left: 117px;
  }

  .form__field--aplication {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .form__field--contacts {
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .form__field--contacts::before {
    content: "";
    position: absolute;
    top: 48.5px;
    right: 60px;
    background-image: url(../img/phone-1.svg);
    width: 59px;
    height: 56px;
    z-index: 1;
  }

  .form__field--contacts::after {
    content: "";
    position: absolute;
    top: 177px;
    right: 60px;
    background-image: url(../img/mail-1.svg);
    width: 58.5px;
    height: 56px;
  }

  .form__field--contacts .form__item {
    display: flex;
    flex-direction: column-reverse;
    width: 496px;
    margin: 0 auto;
  }

  .form__field--contacts .form__input {
    width: 100%;
  }

  .form__field--contacts .form__label {
    margin-top: 22px;
  }

  .form__comment {
    width: 496px;
    min-height: 189px;
    margin-left: 60px;
  }

  .form__button-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .form__button {
    width: 296px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    grid-template-columns: 433px 431px;
    grid-template-rows: 300px auto auto auto auto;
    column-gap: 30px;
  }

  .form__field--user-name {
    width: 433px;
    padding-top: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .form__field--user-name .form__input {
    width: 75%;
  }

  .form__field--aplication {
    width: 431px;
    min-height: 291px;
    margin-left: 45px;
    padding-top: 52px;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .form__input-check:checked + .form__label-check::after,
  .form__input-check:not(:checked) + .form__label-check::after {
    left: 0;
  }

  .form__label-check {
    margin-left: 62px;
  }

  .form__field--contacts {
    width: 936px;
    margin-top: 65px;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .form__field--contacts::before {
    top: 48.4px;
    left: 389px;
  }

  .form__field--contacts::after {
    top: 48.4px;
    right: 76px;
  }

  .form__field--contacts .form__list {
    display: flex;
    width: 816px;
    margin-left: 80px;
  }

  .form__field--contacts .form__input {
    width: 371px;
  }

  .form__field--achievements {
    width: 940px;
    padding-top: 47px;
    padding-bottom: 0;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__field--achievements .form__list {
    padding-left: 60px;
    padding-right: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item--2 {
    order: 3;
  }

  .form__item--3 {
    order: 1;
  }

  .form__item--4 {
    order: 4;
  }

  .form__item--5 {
    order: 2;
  }

  .form__item--6 {
    order: 5;
  }

  .form__field--achievements .form__item {
    width: 271px;
  }

  .form__input-check {
    margin-left: 0;
  }

  .form__field--reviews {
    width: 940px;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .form__comment {
    width: 816px;
    min-height: 124px;
  }

  .form__button-block {
    grid-row-start: 5;
    grid-row-end: 6;
    width: 940px;
  }
}
