.form-photo {
  background-color: @grey;
  padding-bottom: 30px;
  padding-top: 20px;
}

.form-photo__fieldset {
  border: none;
  margin-left: -10px;
}

.form-photo__button {
  padding: 0;
  background-color: @grey;
  border-radius: 30px;
  width: 277px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
}

.form-photo__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-photo__fieldset--editor {
  display: flex;
  flex-direction: column;
  width: 194px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-photo__range {
  width: 240px;
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}

.btn--pink {
  border: 3px solid @pink;
  color: @pink;
  margin-bottom: 12px;
  &:hover,
  &:focus {
    background-color: @pink;
    color: @white;
  }
  &:active {
    color: fade(@white, 30%);
  }
}

.btn--grey {
  color: fade(@darkgrey, 10%);
  border: 3px solid fade(@darkgrey, 10%);
  &:hover {
    border: 3px solid fade(@darkgrey, 30%);
    color: fade(@darkgrey, 30%);
  }
  &:active {
    border: 3px solid fade(@darkgrey, 10%);
    background-color: fade(@darkgrey, 30%);
    color: fade(@white, 30%);
  }
}

.form-photo__range--active {
  display: block;
}

@media (min-width: @tablet-width) {
  .form-photo {
    padding-top: 57px;
    padding-bottom: 54px;
    width: 660px;
    display: grid;
    grid-template-columns: 300px 275px;
    grid-template-rows: auto auto;
    column-gap: 45px;
    row-gap: 67px;
  }

  .form-photo__fieldset:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .form-photo__range {
    width: 253px;
    display: block;
  }

  .form-photo__button {
    width: 260px;
  }
}

@media (min-width:@desktop-width) {
  .form-photo {
    width: 940px;
    margin: 0 auto;
    padding-left: 80px;
  }
  .form-photo__range {
    width: 288px;
    display: block;
  }

  .form-photo__button {
    width: 183px;
  }
}
