.main-nav {
  width: 320px;
  position: absolute;
}

.main-nav--open {
  position: static;
}

.main-nav__toggle {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.main-nav__list {
  background-color: @darkgrey;
  padding: 0;
  margin: 0;
  display: none;
  list-style: none;
}

.main-nav--open .main-nav__list {
  // display: block;
}

.main-nav__item {
  box-shadow: 0px 1px 0px @title-black, inset 0px 1px 0px @darkgrey-shadow;
  border-top: 1px solid @black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.main-nav__item:last-child {
  border-bottom: 1px solid @black;
}

.main-nav__head {
  background-color: fade(black, 30%);
  display: flex;
  min-height: 69px;
}

.main-nav--open .main-nav__head{
  background-color: @darkgrey;
}

.main-nav__logo {
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.main-nav__link {
  text-decoration: none;
  color: @white;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  &:hover {
    color: @pink;
  }
  &:active {
    color: @white-active;
  }
}

.main-nav__img--table {
  display: none;
}

.main-nav__img--desk {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 660px;
  }
  .main-nav__img--table {
    margin-top: 0px;
    display: block;
  }
  .main-nav__img {
    display: none;
  }
  .main-nav__head {
    min-height: 109px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1200px;
    background-color: @black-2;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;
    width: 940px;
    margin: 0 auto;
    background: none;
  }

  .main-nav__img--desk {
    display: block;
    margin-right: 173px;
  }

  .main-nav__item {
    border: none;
    box-shadow: none;
    font-size: 18px;
    line-height: 18px;
    height: 13px;
  }

  .main-nav__item--active {
    border-bottom: 2px solid @white;
  }

  .main-nav__item:last-child {
    border-bottom: none;
  }

  .main-nav__head {
    display: none;
  }
}
