.intro {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-color: @darkgrey;
  background-repeat: no-repeat;
  background-position: center -5px;
  background-size: cover;
  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.intro--home {
  background-position: center -7px;
  background-size: contain;
  min-height: 733px;
}

.intro__inner {
  position: relative;
  min-height: 237px;
  padding-right: 0;
  padding-left: 0;
}

.intro__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @white;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 51px;
  width: 280px;
  margin: 0 auto;
}

.intro__title--photo {
  padding-bottom: 79px;
}

.intro__title--home {
  padding-top: 86px;
  padding-bottom: 29px;
}

/*Брэкпоинты*/

@media (min-width: @tablet-width) {
  .intro {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-position: center -3px ;
    background-size: 184%;
    min-height: 440px;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .intro--home {
    min-height: 729px;
    background-position: center top;
    background-size: cover;
  }

  .intro__title {
    font-size: 50px;
    line-height: 68px;
    width: 550px;
    padding-top: 173px;
  }

  .intro__title--home {
    position: absolute;
    margin-top: 202px;
    margin-left: 50px;
    font-size: 40px;
    line-height: 120%;
    width: 240px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 0;
    z-index: 1;
  }

  .intro__block-image {
    position: absolute;
    top: 77.5%;
    left: -20px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 394px;
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-position: center 10px ;
    background-size: 215%;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .intro--home {
    min-height: 853px;
  }

  .intro__title {
    width: 747px;
    padding-bottom: 0;
  }

  .intro__title--home {
    width: 300px;
    margin-top: 210px;
    margin-left: 130px;
    font-size: 50px;
    line-height: 68px;
  }

  .intro__block-image {
    top: 87.7%;
    left: 147px;
  }
}
