.page-footer {
  background-color: @white;
  padding-top: 38px;
  min-height: 284px;
}

.page-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 172px;
  margin-left: 51px;
  margin-top: 34px;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 14px;
}

.page-footer__logo-link {
  width: 145px;
  margin-left: 67px;
}

.page-footer__svg {
  fill: @darkgrey;
  &:hover,
  &:focus {
    fill: @pink;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-footer__developer {
  display: flex;
  width: 130px;
  margin: 0 auto;
  margin-top: 31px;
  align-content: center;
}

.page-footer__link {
  position: relative;
  width: 54px;
  height: 54px;
  border: 3px solid fade(@darkgrey, 10%);
  border-radius: 50%;
  &:hover,
  &:focus {
    border-color: @darkgrey;
  }
  &:active {
    border-color: fade(@darkgrey, 10%);
  }
}

.page-footer__svg-academy {
  fill: @pink;
  &:hover,
  &:focus {
    fill: @darkgrey;
  }
  &:active {
    fill: fade(@darkgrey, 30%);
  }
}

.page-footer__svg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: @pink;
  &:active {
    fill: fade(@pink, 30%);
  }
}

.page-footer__svg-icon--youtube {
  left: 53%;
}

.page-footer__description {
  font-size: 14px;
  line-height: 18px;
  margin-right: 9px;
  color: @darkgrey;
}

.page-footer__svg-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    min-height: 127px;
    padding: 0;
    padding-top: 36px;
  }

  .page-footer__logo-link {
    margin: 0;
    margin-left: 20px;
  }

  .page-footer__list {
    margin: 0;
    margin-left: 75px;
  }

  .page-footer__developer {
    margin: 0;
    // margin-bottom: 62px;
    margin-left: auto;
    margin-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 197px;
    padding-top: 68px;
  }

  .page-footer__logo-link {
    margin-left: 130px;
  }

  .page-footer__list {
    margin-left: 239px;
    margin-top: 2px;
    column-gap: 11px;
  }

  .page-footer__developer {
    margin-right: 132px;
    margin-bottom: 77px;
    width: 153px;
  }
  
  .page-footer__description {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .page-footer__svg-mobile {
    display: none;
  }

  .page-footer__svg-desktop {
    display: block;
  }
}
