.page-title {
  background-color: @white;
  color: @darkgrey;
  width: 320px;
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.page-title--home .page-title__description {
  font-size: 24px;
  line-height: 120%;
}

.page-title__description {
  font-size: 14px;
  line-height: 30px;
  width: 280px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-title {
    width: 660px;
    padding-top: 90px;
    padding-bottom: 78px;
  }

  .page-title__description {
    width: 520px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
  }
  .page-title--home .page-title__description {
    width: 588px;
    font-size: 40px;
    line-height: 54px;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    width: 1200px;
    padding-bottom: 90px;
    padding-right: 0;
    padding-left: 0;
  }

  .page-title__description {
    width: 572px;
    margin: 0 auto;
  }
  .page-title--home .page-title__description {
    width: 780px;
    font-size: 50px;
    line-height: 68px;
  }
}
