.photo {
  background-color: @white;
}

.photo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo__item {
  margin-top: 20px;
}

.photo__story-like {
  background-color: @grey;
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
}

.photo__stat {
  font-size: 12px;
  line-height: 24px;
  color: @pink;
}
