.rates {
  background-color: @grey;
}

.rates__toggle {
  background-color: @darkgrey-toggle;
  width: 6px;
  height: 6px;
  margin: 19px;
  border-radius: 50%;
}

.rates__toggle--active {
  border: 3px solid @darkgrey;
}
