.btn--green {
    border: none;
    background-color: @green;
    border: 2px solid @green;
    border-radius: 1px;
    padding-top: 14px;
    padding-bottom: 13px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: @white;
    cursor: pointer;
    &:hover {
      background-color: @green-hover;
      border: 2px solid @green-hover;
      border-radius: 1px;
    }
    &:active {
      color: fade(@white, 30%);
    }
  }

  .btn--pink {
    border: 3px solid @pink;
    color: @pink;
    margin-bottom: 12px;
    &:hover,
    &:focus {
      background-color: @pink;
      color: @white;
    }
    &:active {
      color: fade(@white, 30%);
    }
  }
  
  .btn--grey {
    color: fade(@darkgrey, 10%);
    border: 3px solid fade(@darkgrey, 10%);
    &:hover {
      border: 3px solid fade(@darkgrey, 30%);
      color: fade(@darkgrey, 30%);
    }
    &:active {
      border: 3px solid fade(@darkgrey, 10%);
      background-color: fade(@darkgrey, 30%);
      color: fade(@white, 30%);
    }
  }