@black: fade(black, 70%);
@black-2: rgba(0, 0, 0, 0.3);
@lightgrey: #e5e5e5;
@darkgrey: #283645;
@greydownload: #1d2631;
@darkgrey-shadow: rgba(255, 255, 255, 0.15);
@darkgrey-toggle: fade(#283645, 30%);
@darkgrey-hover: fade(#283645, 60%);
@darkgrey-hover-icon: fade(#283645, 50%);
@darkgrey-active: fade(#283645, 10%);
@darkgrey-active-2: fade(#283645, 30%);
@white: white;
@white-active: fade(#ffffff, 30%);
@title-black: #000000;
@pink: #d22856;
@pink-active: fade(#d22856, 30%);
@grey: #f2f2f2;
@green: #2aab6d;
@green-hover: #1c9b5e;
